<a href="https://colab.research.google.com/github/nikmahskb/python_for_datascience/blob/main/Exercise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
gaji_perhour = int(input("Gaji Budi libur semester per jam: "))
waktu_kerja = 6
hari_kerja_perweek = 5
week = 5

Gaji Budi libur semester per jam: 25000

In [ ]:
gaji_kotor = gaji_perhour * waktu_kerja * hari_kerja_perweek * week

print(f"Gaji kotor Budi: {gaji_kotor}")

Gaji kotor Budi: 3750000

In [ ]:
gaji_bersih = gaji_kotor * (1 - 14/100)

print(f"Gaji bersih Budi: {gaji_bersih}")

Gaji bersih Budi: 3225000.0

In [ ]:
Baju_Budi = gaji_bersih * 10/100

print(f"Harga baju Budi: {Baju_Budi}")

Harga baju Budi: 322500.0

In [ ]:
Alat_tulis = gaji_bersih * 1/100

print(f"Harga alat tulis Budi: {Alat_tulis}")

Harga alat tulis Budi: 32250.0

In [ ]:
sisa_gaji = gaji_bersih - Baju_Budi - Alat_tulis

print(f"Sisa gaji budi: {sisa_gaji}")

Sisa gaji budi: 2870250.0

In [ ]:
sedekah = sisa_gaji * 25/100

print(f"Sedekah: {sedekah}")

Sedekah: 717562.5

In [ ]:
anak_yatim = sedekah * 30/100

print(f"Alokasi untuk anak  yatim: {anak_yatim}")

Alokasi untuk anak  yatim: 215268.75

In [ ]:
dhuafa = sedekah - anak_yatim

print(f"Alokasi untuk kaum dhuafa: {dhuafa}")

Alokasi untuk kaum dhuafa: 502293.75