<a href="https://colab.research.google.com/github/nikmahskb/python_for_datascience/blob/main/Intro.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
gaji_kotor = int(input("Gaji Budi libur semester: "))

Gaji Budi libur semester: 500000

In [9]:
gaji_bersih = gaji_kotor * (1 - 14/100)

print(f"Gaji kotor Budi: {gaji_bersih}")

Gaji kotor Budi: 430000.0

In [11]:
Baju_Budi = gaji_bersih * 10/100

print(f"Harga baju Budi: {Baju_Budi}")

Harga baju Budi: 43000.0

In [12]:
Alat_tulis = gaji_bersih * 1/100

print(f"Harga alat tulis Budi: {Alat_tulis}")

Harga alat tulis Budi: 4300.0

In [13]:
sisa_gaji = gaji_bersih - Baju_Budi - Alat_tulis

print(f"Sisa gaji budi: {sisa_gaji}")

Sisa gaji budi: 382700.0

In [14]:
sedekah = sisa_gaji * 25/100

print(f"Sedekah: {sedekah}")

Sedekah: 95675.0

In [15]:
anak_yatim = sedekah * 30/100

print(f"Alokasi untuk anak  yatim: {anak_yatim}")

Alokasi untuk anak  yatim: 28702.5

In [16]:
dhuafa = sedekah - anak_yatim

print(f"Alokasi untuk kaum dhuafa: {dhuafa}")

Alokasi untuk kaum dhuafa: 66972.5